body {
    background-color: #f8f9fa; /* Um tom mais claro de cinza */
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #343a40; /* Azul escuro ou cinza escuro */
}

nav a {
    color: #ffffff;
}

section h2 {
    color: #343a40; /* Azul escuro ou cinza escuro */
}

footer {
    background-color: #343a40; /* Azul escuro ou cinza escuro */
    color: #ffffff;
}
